---
import PostCard from "./PostCard.astro";
const { allPosts } = Astro.props;
---

<div class="my-1 max-w-7xl w-screen mx-auto p-4">
  <ul class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid-justify-items-center">
    {allPosts.map((post: { slug: string; data: { pubDate: any; upDate: any; image: { url: any; alt: any; }; title: any; description: any; tags: any; }; }) =>
      <PostCard class="item-auto"
        url={'/posts/' + post.slug}
        pubDate={post.data.pubDate}
        upDate={post.data.upDate}
        imgSrc={post.data.image.url}
        imgAlt={post.data.image.alt}
        title={post.data.title}
        description={post.data.description}
        tags={post.data.tags}
      />)}
  </ul>
</div>
