---
import BaseLayout from './BaseLayout.astro';
import { Image } from "astro:assets";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="max-w-4xl w-screen mx-auto p-4 border rounded-lg border-gray-400">
    <div class="font-bold text-3xl">
      {frontmatter.title}
    </div>
    <div class="text-right my-2">
      <div class="badge badge-outline mr-1">
        <icon class="i-mdi-airplane"/>
        {'作成:' + frontmatter.pubDate.toLocaleDateString('ja')}
      </div>
      <div class="badge badge-outline">
        <icon class="i-mdi-update"/>
        {'更新:' + frontmatter.upDate.toLocaleDateString('ja')}
      </div>
    </div>
    <div class="flex justify-center items-center my-2 shadow-xl">
      <Image src={frontmatter.image.url} width="870" height="100" alt={frontmatter.image.alt} />
    </div>

    <div class="tags">
      {frontmatter.tags.map((tag: unknown) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
    <article class="markdown">
      <slot/>
    </article>
  </div>
</BaseLayout>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>
